.carousel-heading h2,
.carousel-heading span {

  letter-spacing: 3px;
}

.about .carousel-heading span {
  color: #b86144 ;
}

.timeline-item h2 {
  color: #b86144 ;
}

.about .skills-section {
  color: #b86144;
}