.page-body {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  background-repeat: 'repeat';
  z-index: 100;
  overflow: hidden;
  height: auto;
  min-height: 100% !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 0 5em;
}

.carousel-heading {
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Seaweed Script', cursive;
}

h2,
.home span {

  font-size: 100px;
  font-weight: 400;
  margin-bottom: 0;
}




:root {
  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: rgb(100, 223, 223);
  --card1-gradient-color2: rgb(78, 168, 222);
  --card2-gradient-color1: rgb(78, 168, 222);
  --card2-gradient-color2: rgb(94, 96, 206);
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;
}


.card-title {
  text-align: center;
  padding: 0 20px;
  line-height: 1.1;
  font-size: 30px;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.card-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.card-btn {
  border: none !important;
  color: rgb(166, 160, 184) !important;
  margin-bottom: 15px !important;
  text-transform: uppercase !important;
}
