.services-article:hover {
  transform: scale(1.05);
}

.home-bio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}


.services-article,
.home-bio-paragraph-content {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  padding: 20 30px;
  margin: auto auto 1.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
}


.home-card {
  background-color: rgba(255, 255,255, 0.8);
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}

.home-bio-services article{
  display: flex;
  align-items: center;
  padding: 0 20px 0;
  max-height: 190px;
  overflow: auto;
  gap: 20px;
}



.home-card img {
  width: 190px;
  margin-left: -20px;
  min-height: 200px;
}


.skills-section {
  color: rgb(23, 113, 119);
}

.skill-box-container {
  display: flex;
  flex-wrap: wrap;

}


.skill-box {
  transition: all .1s ease-in-out;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 80px;
  padding: 2px;
  margin: 0.5em;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.skill-box:hover {
  transform: scale(1.1);
}

.skill-img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.skill-name {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  width: 80px;
}


.card-text {
  text-align: center;
  font-size: 16px;
  margin-top: -15px;
}

.home-bio-picture {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-bio-picture img {
  transition: all .2s ease-in-out;
  width: 500px;
  height: 625px;
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.home-bio-paragraph-content {
  display: 'flex-column';
  box-sizing: border-box;
}

.home-bio-paragraph-content p {
  padding:0 25px;
  font-size: 16px;
  line-height: 1.85;
}

.home-bio-paragraph-content:hover {
  transform: scale(1.05);
}

.home-bio-services,
.home-bio-paragraph {
  flex: 1;
  font-size: 16px;
  line-height: 1.6;
}

.card-title {
  text-align: center;
  line-height: 1;
  font-size: 35px;
  margin-top: 20px;
  font-family: "Caveat", sans-serif;
}

.home-card .card-title {
  color: rgb(23, 113, 119);
}

.home-card {
  padding: 10.5px 20px;
}

.home-bio-services article > * {
  flex-grow: 1;
}