.services-article:hover {
  transform: scale(1.05);
}

.home-bio {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}


.services-article,
.home-bio-paragraph-content {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  padding: 0 30px;
  margin: auto auto 1.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
}


.skills-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-card {
  background-color: rgba(255, 255, 255, 0.7);
}

.skills-box {
  margin-top: 5em;
  margin-bottom: 1em;
  background-color: 
  #f4f3f1;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
  border-radius: 0.5em;
  padding: 2em;
}

.skills-section {
  font-size: 25px;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  color: rgb(43, 22, 27)
}

.skill-box-container {
  display: flex;
  flex-wrap: wrap;

}


.skill-box {
  transition: all .1s ease-in-out;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 80px;
  padding: 2px;
  margin: 0.5em;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.skill-box:hover {
  transform: scale(1.1);
}

.skill-img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.skill-name {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  width: 80px;
}




.home-bio-picture {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-bio-picture img {
  transition: all .2s ease-in-out;
  width: 500px;
  height: 625px;
  border-radius: 0.5em;
  border: 0.5em solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.home-bio-paragraph-content {
  display: 'flex-column';
  box-sizing: border-box;
}

.home-bio-paragraph-content p {
  padding: 0 25px;
}

.home-bio-paragraph-content:hover {
  transform: scale(1.05);
}

.home-bio-services,
.home-bio-paragraph {
  flex: 1;
  font-size: 18px;
  line-height: 1.6;

}

.home-card .card-title {
  color: rgb(23, 113, 119);
}

.home-card {
  padding: 10px 20px;
}