.carousel-heading h2,
.carousel-heading span {
  letter-spacing: 3px;
}


.portfolio .carousel-heading span {
  color: #6144b8;
}


.portfolio .card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

.top-section {
  display: flex;
  justify-content: center;
}